/* Style for post list */

/* General styling for HTML */
html {
    background-color: rgb(17, 17, 17);
    color: rgb(228, 226, 226);
}

/* Styling for the list of posts */
.post-list {
    list-style: none;
    padding: 0;
    margin-top: 70px;
}

/* Styling for each post item */
.post-item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

/* Styling for post titles in the list */
.post-title a {
    text-decoration: none;
    color: rgb(228, 226, 226);
    transition: color 0.3s ease;
    font-size: 2rem;
}

.post-title a:hover {
    color: #0066cc;
}

/* Styling for post content in the list */
.post-content {
    color: rgb(228, 226, 226);
    font-size: 1.3rem;
}

/* Style for post detail */
.post-detail {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-top: 60px;
}

/* Styling for post detail headings */
.post-detail h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: rgb(228, 226, 226);
}

.post-detail p {
    color: rgb(228, 226, 226);
}

/* Styling for comments */
.comments {
    margin-top: 20px;
}

.comment {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.comment p {
    margin-bottom: 5px;
}

.comment-details {
    color: rgb(228, 226, 226);
    font-size: 0.8rem;
}

.comment-details a {
    text-decoration: none;
    color: #0066cc;
    transition: color 0.3s ease;
}

.comment-details a:hover {
    color: #004080;
}

/* Styling for the navigation bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-button {
    color: rgb(228, 226, 226);
    background-color: #0066cc;
    padding: 10px 12px;
    margin: 12px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    float: inline-end;
}

#new_post_button {
    margin-left: 12px;
}

#new_post_button:hover {
    transition: 0.3s;
    background-color: navy;
}

.nav-button:hover {
    background-color: #004080;
}

.navbar h2 {
    color: limegreen;
    text-align: center;
    font-size: 3rem;
    left: 45%;
    position: fixed;
    margin: 0;
    margin-top: 4px;
}

/* Styling for action buttons */
.action-button {
    display: inline-block;
    color: rgb(228, 226, 226);
    background-color: #4CAF50;
    padding: 10px 15px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #45a049;
}

/* Styling for buttons */
button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

/* Styling for the delete post button */
button.delete-post-button {
    background-color: red;
    color: rgb(228, 226, 226);
}

/* Styling for edit comment and post buttons */
.edit-comment-button, .edit-post-button {
    background-color: blue;
    padding: 0.4rem;
    color: rgb(228, 226, 226);
}

.edit-comment-button:hover, .edit-post-button:hover {
    color: seagreen
}

.edit-post-button {
    float: inline-start;
    margin-right: 1rem;
}

/* Styling for add comment button */
button.add-comment-button, a.add-comment-button {
    background-color: navy;
    color: rgb(228, 226, 226);
}

/* Styling for back to main page button */
a.back-to-main-button {
    padding: 0.5rem;
    background-color: green;
    color: rgb(228, 226, 226);
}

a.back-to-main-button:hover {
    background-color: navy;
}

/* Hover animation for buttons */
button:hover, a:hover {
    transition: 0.3s;
    background-color: lighten(currentColor, 10%);
    transform: scale(1.05);
    color: seagreen;
}

/* Remove underline from links */
a {
    text-decoration: none;
}

/* Styling for forms */
input[type="text"],
textarea {
    background-color: #3B3B3B;
    color: rgb(228, 226, 226);
}
