{% load static %}
{% load comment_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    {% block content %}
    <button class="add-comment-button" class="add-comment-button">Add Comment</button> <!-- Comment Creation -->
    <form class="add-comment-form reply-form" method="POST" action="{% url 'add_comment' post_id=post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reply</button>
    </form>
    <a href="{% url 'post_list' %}"class="back-to-main-button">Back to Main Page</a> <!-- Return to Main Page -->
    {% endblock %}
</body>
</html>
