{% load static %}
{% load comment_filters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
  </head>
  <body>
    {% block content %}
        <h1>Edit Post</h1>
        <form method="post" class="post-form"> <!-- Edit existing Post -->
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="edit-comment-button" style="margin-bottom: 10px">Save Changes</button>
        </form>
    {% endblock %}
    <a href="{% url 'post_detail' post_id=post.id %}" class="back-to-main-button">Cancel</a> <!-- Return to Post -->
</body>

</html>