{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
  </head>
  <body>
    <form method="post" action="{% url 'edit_comment' post_id=comment.post.id comment_id=comment.id %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="edit-comment-button">Save changes</button>
    </form>
    <a href="{% url 'post_detail' post_id=comment.post.id %}">Cancel</a>
  </body>
</html>
