{% load static %}
{% load comment_filters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
  </head>
  <body>
    {% block content %}
        <h1>Edit Post</h1>
        <form method="post" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="action-button">Save Changes</button>
        </form>
    {% endblock %}

</body>

</html>