<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow</title>    

    <link rel="stylesheet" href="{% static 'posts/styles.css' %}">
</head>

<body>
{% for post in posts %}
    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.content }}</p>
    <p>Author: {{ post.author.username }}</p>
    <p>Created at: {{ post.created_at }}</p>
    <p>Number of Comments: {{ post.comment_set.count }}</p>  <!-- Add this line -->
    <a href="{% url 'post_detail' post.pk %}">View Details</a>
{% endfor %}
</body>
</html>
